name: Lint and test

on: [push, pull_request]

jobs:
  lint:
    name: Lint and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Lint
        run: make --keep-going test lint
